{% extends "encyclopedia/layout.html" %} 
{% block title %} Encyclopedia 
{%endblock %} 
{% block body %}
<h1>Edit Page</h1>

<form action="{% url 'saveedit' %}" , method="POST">
  {% csrf_token %}
  <label for="title">Title:</label>
  <input
    type="text"
    name="edit_title"
    placeholder="Enter page title"
    ,
    value="{{ title }}"
  />
  <br />
  <label for="conent">Content:</label>
  <br />
  <textarea name="content"> {{ content }} </textarea>
  <br />
  <input type="submit" value="Save Changes" class="btn btn-primary" />
</form>
{% endblock %}

  