asgiref==3.6.0
astroid==2.15.0
autopep8==2.0.2
click==8.1.3
dill==0.3.6
Django==4.1.7
isort==5.12.0
lazy-object-proxy==1.9.0
lookatme==2.5.5
markdown2==2.4.8
marshmallow==3.19.0
mccabe==0.7.0
mistune==0.8.4
packaging==23.0
platformdirs==3.1.1
protobuf==4.21.12
pycodestyle==2.10.0
Pygments==2.14.0
pylint==2.17.0
python-decouple==3.8
PyYAML==5.4.1
sqlparse==0.4.3
tomlkit==0.11.6
urwid==2.1.2
wrapt==1.15.0
